@inherits SidebarBase
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="@Logo" alt="@WebName" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">@WebName</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @if (UserInfo != null)
                {
                    <img src="@UserInfo.Img" class="img-circle elevation-2" alt="@(UserInfo.RealName??UserInfo.UserName)">
                }
            </div>
            <div class="info">
                @if (UserInfo != null)
                {
                    <a href="/" class="d-block">@(UserInfo.RealName??UserInfo.UserName)</a>
                }
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <NavLink href="/node" class="nav-link">
                        <i class="fas fa-sitemap nav-icon"></i>
                        <p>节点管理</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/task" class="nav-link">
                        <i class="fas fa-tasks nav-icon"></i>
                        <p>任务列表</p>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>系统消息</p>
                    </NavLink>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>