@page "/"
@inherits IndexBase
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">节点</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">所有任务列表</h3>
                    <div class="float-right">
                        <button type="button" class="btn btn-default btn-sm " @onclick="async ()=> await Load()"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-default btn-sm " @onclick="async ()=> await Load()"><i class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="task" class="table table-bordered table-hover compact">
                        <thead>
                            <tr>
                                <th>节点</th>
                                <th>节点类型</th>
                                <th>所在机器</th>
                                <th>访问协议</th>
                                <th>节点主机</th>
                                <th>最后更新时间</th>
                                <th>节点状态</th>
                                <th>权重</th>
                                <th>GenerID</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Results != null && Results.Data != null)
                            {
                                foreach (var item in Results.Data)
                                {
                                    <tr>
                                        <td>@item.NodeName</td>
                                        <td>@item.NodeType</td>
                                        <td>@item.MachineName</td>
                                        <td>@item.AccessProtocol</td>
                                        <td>@item.Host</td>
                                        <td>@item.LastUpdateTime</td>
                                        <td>@item.StatusName</td>
                                        <td>@item.Priority</td>
                                        <td>@item.GenerID</td>
                                        <td class="center">
                                            @if (item.Status == NodeStatus.Run)
                                            {
                                                <input class="" type="radio" name="radio1" checked="@(item.NodeName==Name)" @onchange="@(async e=>await Startd(item.NodeName))">

                                            }
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" align="center">Loading...</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@code{

}