@page "/task/all"
@inherits TasksBase
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>任务列表</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a @onclick="@(e => Nav.NavigateTo("/"))">首页</a></li>
                    <li class="breadcrumb-item active">任务列表</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">所有任务列表</h3>
                    <div class="float-right">
                        <button type="button" class="btn btn-default btn-sm " @onclick="async ()=> await Load()"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-default btn-sm " @onclick="async ()=> await Load()"><i class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="task" class="table table-bordered table-hover compact">
                        <thead>
                            <tr>
                                <th>节点</th>
                                <th>名称</th>
                                <th>Corn表达式</th>
                                <th>程序集/类名</th>
                                <th>状态</th>
                                <th>上传运行时间</th>
                                <th>下次运行时间</th>
                                <th>运行次数</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Results != null && Results.Data != null)
                            {
                                foreach (var task in Results.Data)
                                {
                                    <tr>
                                        <td>@task.NodeName</td>
                                        <td>
                                            <a class="btn btn-outline-primary btn-xs" @onclick="async ()=> await Load()">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            @task.Title
                                        </td>
                                        <td>@task.CronExpression</td>
                                        <td>
                                            @task.AssemblyName/
                                            @task.ClassName
                                        </td>
                                        <td>@task.StatusName</td>
                                        <td>@task.LastRunTime</td>
                                        <td>@task.NextRunTime</td>
                                        <td>
                                            <a class="btn btn-outline-primary btn-xs" href="/task/logs/@($"{task.Id}|{task.Title}")">
                                                <i class="fas fa-bars"></i>
                                            </a>
                                            @task.TotalRunCount
                                        </td>
                                        <td>@task.CreateUserName</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-xs @((task.Status==JobTaskStatus.Running||task.Status==JobTaskStatus.Paused)?"disabled":"")" @onclick="async ()=>await SingleSetting(SingleType.start,task.Title,task.Id)">启动</button>
                                            <button type="button" class="btn btn-outline-secondary btn-xs @(task.Status==JobTaskStatus.Running?"":"disabled")" @onclick="async ()=>await SingleSetting(SingleType.pause,task.Title,task.Id)">暂停</button>
                                            <button type="button" class="btn btn-outline-info btn-xs @(task.Status==JobTaskStatus.Paused?"":"disabled")" @onclick="async ()=>await SingleSetting(SingleType.resume,task.Title,task.Id)">恢复</button>
                                            <br />
                                            <button type="button" class="btn btn-outline-danger btn-xs" @onclick="async ()=>await SingleSetting(SingleType.stop,task.Title,task.Id)">停止</button>
                                            <button type="button" class="btn btn-outline-warning btn-xs @(task.Status==JobTaskStatus.Running?"":"disabled")" @onclick="async ()=>await SingleSetting(SingleType.runonce,task.Title,task.Id)">运行</button>
                                            <button type="button" class="btn btn-outline-danger btn-xs" @onclick="async ()=>await SingleSetting(SingleType.delete,task.Title,task.Id)">删除</button>
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" align="center">Loading...</td>
                                </tr>
                            }
                        </tbody>
                        <PagerInfo Colspan="10" Total="Results?.Data?.FirstOrDefault()?.Total??0" PageIndex="1" PageSize="10" />
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@code{

}